# Ignore node_modules of React frontend
website/node_modules

# Ignore build of React frontend
website/build

# Ignore configuration files that may contain sensitive information
backend/web/sites/*/settings.php
backend/web/sites/*/services.yml

# Ignore paths that may contain user-generated content
backend/web/sites/*/files
backend/web/sites/*/public
backend/web/sites/*/private
backend/web/sites/*/files-public
backend/web/sites/*/files-private

# Ignore paths that may contain temporary files
backend/web/sites/*/translations
backend/web/sites/*/tmp
backend/web/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
backend/web/core
backend/web/modules/README.txt
backend/web/profiles/README.txt
backend/web/sites/README.txt
backend/web/modules/contrib
backend/web/themes/README.txt
backend/web/vendor
backend/vendor
backend/.csslintrc
backend/.editorconfig
backend/.eslintignore
backend/.eslintrc.json
backend/.gitattributes

# Ignore global configuration
.env