---
import i18next, { changeLanguage, t } from "i18next";
import Layout from "../../../layouts/Layout.astro";
import DeliverSection from "../../../components/DeliverSection.astro";
import InfoService from "../../../components/InfoService.astro";
import { getContentByLanguage } from "../../../helpers/getContentByLanguage";

changeLanguage("es");

export async function getStaticPaths() {
    const services = await Astro.glob("/src/content/service/**/*.mdx");
    const servicesByLanguage = getContentByLanguage(services, i18next.language);
    return servicesByLanguage.map(({ Content, components, frontmatter: { title, seoMetaDescription: metadescription, slug, animation, }, }) => {
        return {
            params: { slug },
            props: {
                Content,
                components,
                title,
                metadescription,
                animation,
            },
        };
    });
}
const { Content, components, title, metadescription, animation } = Astro.props;
---

<Layout
  title={`${title} | imrodriguez`}
  description={metadescription}
  keywords={[]}
>
  <script
    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
  ></script>
  <main class="mt-20">
    <div class="md:flex justify-center items-center max-w-max m-auto gap-4">
      <div class="min-w-[16rem] min-h-[16rem]">
        <lottie-player
          src={animation}
          background="transparent"
          speed="1"
          class="w-64 h-64 m-auto"
          loop
          autoplay></lottie-player>
      </div>
      <h1
        class="font-title font-bold uppercase text-[3em] leading-[1em] max-w-sm m-auto text-center md:text-left"
      >
        {title}
      </h1>
    </div>
    <div class="text-justify my-8">
      <Content
        components={{
          ...components,
          InfoService: InfoService,
          Deliver: DeliverSection,
        }}
      />
    </div>
  </main>
</Layout>
