---
import { changeLanguage } from "i18next";
import Layout from "../layouts/Layout.astro";

changeLanguage("en");

export async function getStaticPaths() {
    //const posts = await Astro.glob("/src/content/blog/*.md");
    const posts = [];
    return posts.map(({ Content, frontmatter: { postTitle: title, seoMetaDescription: metadescription, slug, focusKeyphrase, }, }) => {
        return {
            params: { slug },
            props: { Content, title, metadescription, focusKeyphrase },
        };
    });
}
const { Content, title, metadescription, focusKeyphrase } = Astro.props;
const { slug } = Astro.params;
---

<Layout
  title={`${title} | imrodriguez`}
  description={metadescription}
  keywords={[]}
>
  <main class="mt-20 container m-auto">
    <h1 class="font-subtitle font-bold uppercase text-4xl text-center">
      {title}
    </h1>
    <h2 class="text-center">{focusKeyphrase}</h2>
    <div class="container text-justify my-8">
      <Content />
    </div>
  </main>
</Layout>
