---
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="" description="" keywords={[]}>
  <main
    class="container m-auto mt-24 min-h-[74vh] flex items-center justify-center flex-col"
  >
    <h1 class="text-4xl font-title font-bold text-center my-4">Contact me</h1>
    <Contact />
  </main>
</Layout>
