---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="imrodriguez | Front-end developer" description="Front-end developer | Making products on the web accessible, SEO friendly and higly performant." keywords={["web", "development", "seo", "performance"]}>
	<main>
		<Hero/>
		<div class="bg-violet text-white">
			<div class="container m-auto px-4 py-12">
				<h2 class="text-center text-4xl font-title my-4 mb-8">Who I am</h2>
					<p class="text-justify md:text-xl">
						I'm Imanol Rodriguez de Maya a developer based in Barcelona, Spain. Since I was a kid I'm a person passionate with learn new things. With that attitude I discovered the software development and the beautiful concept that comes with it of be able to build things from scratch just imagining and doing some code.
						<br/><br/>
						Since I discovered the development I've been doing projects and working in diferents companies always linked with the web technologies and environments, from simple website to complex web apps. 
</p>
</div>
			
		</div>
	</main>
</Layout>
