---
const { icon, text, link, style } = Astro.props;
import { Image } from "@astrojs/image/components";
---

<a
  href={link}
  class={`inline-flex w-full items-center justify-center rounded-md border border-transparent bg-violet px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-violet-light focus:outline-none focus:ring-2 focus:bg-violet-light focus:ring-offset-2 ${style}`}
>
  {
    icon && (
      <Image
        width={24}
        height={24}
        src={`/icons/${icon}.svg`}
        class="w-6"
        alt="button icon"
      />
    )
  }
  {text}
</a>
