<form method="post" action="/api/contact" class="flex flex-col gap-4 w-full">
  <input
    class="border-slate border-[1px] p-2 rounded-md"
    placeholder="Full Name"
    name="name"
    type="text"
  />

  <input
    name="email"
    type="email"
    class="border-slate border-[1px] p-2 rounded-md"
    placeholder="Email Address"
  />

  <textarea
    name="content"
    class="border-slate border-[1px] p-2 rounded-md"
    placeholder="Message"></textarea>

  <button
    class="w-full bg-violet hover:bg-violet-light py-2 px-4 rounded-lg text-white font-title font-bold flex justify-center items-center gap-2"
    type="submit">Send message</button
  >
</form>
