---
import menuData from "../../content/menu.json"
import Button from "./Button.astro";
---

<header class="p-4  fixed top-0 left-0 right-0 z-50 bg-white">
    <div class="container m-auto flex justify-between items-center">
    <p class="font-title font-bold text-xl">imrodriguez</p>
    <nav class="flex gap-2 justify-between items-center">
        <ul class="flex gap-2 justify-between items-center">
            {menuData.map(menuItem => (
               <li class="cursor-pointer"><a href={menuItem.url}>{menuItem.title}</a></li> 
            ))}
        </ul>
        <Button link="mailto:imanolrodriguezdemaya@gmail.com" text="Contact" icon="contact" />
  
    </nav>
</div>
</header>